 @import url('https://fonts.googleapis.com/css2?family=Glory:wght@500;600;700&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
     font-family: 'Glory', sans-serif;
 }

 .container {
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 500px;
     width: 100%;
     padding: 2.4rem;
     margin: 0 auto;
 }

 h1 {
     font-size: 4.2rem;
     margin: 50px 0 0 0;
     color: #0178B7;
 }

 p {
     font-weight: 500;
     font-size: 2.4rem;
 }

 h5 {
     margin: 30px 0;
     font-size: 2.5rem;
     font-weight: 500;
 }

 .linkedin,
 .github,
 .gmail {
     display: block;
     font-size: 2rem;
     color: white;
     text-decoration: none;
     width: 100%;
     margin: 10px 0;
     padding: 1.3rem;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
 }

 .linkedin {
     background-color: #0077b5;
 }

 .github {
     background-color: #6e5494;
 }

 .gmail {
     background-color: #ea4335;
 }